﻿@using PagedList.Mvc;
@{
    ViewBag.Title = "Liên hệ";
}

<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(/Assets/client/images/resource/mslider1.jpg) 50% -87px repeat scroll transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Liên hệ</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 column">
                    <div class="bloglist-sec">
                        <h2 class="title-job">
                            <span>Trung tâm Quan hệ công chúng và Hỗ trợ sinh viên</span>
                        </h2>

                        <div class="contact-contactinfo">
                            <h3 class="jicons-text" style="padding-top: 4%;">
                                Điện thoại: 024.626.7690 - 024.626.7578
                            </h3>
                            <ul class="blank">
                            </ul>
                        </div>

                        <div class="">
                            <h3 class="jicons-text">Gửi Email</h3>
                            <div class="contact-form">
                                <form id="contact-form" class="form-horizontal box">
                                    <fieldset>
                                        <legend>Gửi Email. Tất cả các thông tin được đánh dấu * là bắt buộc.</legend>
                                        <div class="control-group">
                                            <div class="control-label">
                                                <label id="jform_contact_name-lbl" for="jform_contact_name" class="hasTooltip required" title="<strong>Tên</strong><br />Tên của bạn">
                                                    Tên<span class="star">&nbsp;*</span>
                                                </label>
                                            </div>
                                            <div class="control">
                                                <input type="text" name="jform[contact_name]" id="jform_contact_name" value="" size="30" required="" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="control-label">
                                                <label id="jform_contact_email-lbl" for="jform_contact_email" class="hasTooltip required" title="<strong>Email</strong><br />Email liên hệ">
                                                    Email<span class="star">&nbsp;*</span>
                                                </label>
                                            </div>
                                            <div class="control">
                                                <input type="email" name="jform[contact_email]" class="validate-email" id="jform_contact_email" value="" size="30" required="" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="control-label">
                                                <label id="jform_contact_emailmsg-lbl" for="jform_contact_emailmsg" class="hasTooltip required" title="<strong>Tiêu đề</strong><br />Nhập tiêu đề cho liên hệ tại đây.">
                                                    Tiêu đề<span class="star">&nbsp;*</span>
                                                </label>
                                            </div>
                                            <div class="control">
                                                <input type="text" name="jform[contact_subject]" id="jform_contact_emailmsg" value="" size="60" required="" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="control-label">
                                                <label id="jform_contact_message-lbl" for="jform_contact_message" class="hasTooltip required" title="<strong>Nội dung</strong><br />Nhập nội dung liên hệ tại đây.">
                                                    Nội dung<span class="star">&nbsp;*</span>
                                                </label>
                                            </div>
                                            <div class="control">
                                                <textarea name="jform[contact_message]" id="jform_contact_message" cols="50" rows="10" required="" aria-required="true"></textarea>
                                            </div>
                                        </div>
                                        <div class="control-label"></div>
                                        <button class="button validate" type="submit">Gửi Email</button>
                                        <input type="hidden" name="option" value="com_contact">
                                        <input type="hidden" name="task" value="contact.submit">
                                        <input type="hidden" name="return" value="">
                                        <input type="hidden" name="id" value="9:qhcc-htsv">
                                        <input type="hidden" name="2093939963fd5253eee932e20c5adcb4" value="1">
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                        <div id="position-d" class="span12">
                            <div class="module ">
                                <h3 class="jicons-text" style="padding-top: 90%;">Bản đồ</h3>
                                <div class="modcontent clearfix">


                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.6930610176555!2d105.92967156456899!3d21.004937436011307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a8d22d268cb1%3A0x637e1c7e80570698!2zUXXhuqNuZyB0csaw4budbmcgQsO5aSBIdXkgxJDDoXAsIHR0LiBUcsOidSBRdeG7sywgR2lhIEzDom0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1573802933846!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

