﻿@model JobHunt.BU.DTO.WebmasterInfoDTO
@using JobHunt.BU.DTO
@{
    ViewBag.Title = "Chỉnh sửa tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("WebmasterInfoId", Model.WebmasterInfoId)
@Html.Hidden("WI_AspNetUserId", Model.WI_AspNetUserId)
<div class="wrap__content" id="detail-customer">
    <section class="content cus-detail main__content">
        <div class="cus-detail__top main__banner">
            <div>
                <div class="">
                    <div class="main__title text-center">
                        <h1 class="main__title--content">Chỉnh sửa tài khoản</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-flud">
            <div class="content__inner main-content">
                <div class="cus-detail__view cus-edit">
                    <form id="admin-createaccount-form" class="admin-account-form">
                        <div class="cus-detail__content">
                            <div class="cus-detail__content--title">
                                <h3>Thông tin đăng nhập<span class="red">(*)</span></h3>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-md-12">
                                    <table>
                                        <tr>
                                            <td class="tb_label bold">Email<span class="red">(*):</span></td>
                                            <td class="input-field">
                                                @Html.EditorFor(m => m.WIEmail, new { htmlAttributes = new { @class = "input-base textinput", placeholder = "Email" } })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb_label bold">Tên đăng nhập<span class="red">(*):</span></td>
                                            <td class="input-field">
                                                @Html.EditorFor(m => m.WIUserName, new { htmlAttributes = new { @class = "input-base textinput", placeholder = "Tên đăng nhập", disabled= "disabled" } })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="cus-detail__content">
                            <div class="cus-detail__content--title">
                                <h3>Thông tin tài khoản<span class="red">(*)</span></h3>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-md-12">
                                    <table>
                                        <tr>
                                            <td class="tb_label bold">Họ tên<span class="red">(*):</span></td>
                                            <td class="input-field">
                                                @Html.EditorFor(m => m.WIFullName, new { htmlAttributes = new { @class = "input-base textinput", placeholder = "Họ và tên" } })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb_label bold">Số điện thoại<span class="red">(*):</span></td>
                                            <td class="input-field">
                                                @Html.EditorFor(m => m.WIPhoneNumber, new { htmlAttributes = new { @class = "input-base passwordtext textinput", placeholder = "Số điện thoại" } })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb_label bold">Địa chỉ<span class="red">(*):</span></td>
                                            <td class="input-field">
                                                @Html.EditorFor(m => m.WIAddress, new { htmlAttributes = new { @class = "input-base passwordtext textinput", placeholder = "Xã/Phường - Huyện/Quận - Tỉnh/Thành phố" } })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb_label bold">Vai trò<span class="red">(*):</span></td>
                                            <td class="input-field">
                                                @Html.DropDownListFor(m=>m.WIType,
                                            new List<SelectListItem>
                                            {
                                                new SelectListItem { Value = ""+(int?)JobHunt.BU.Common.Enum.Role.Employee, Text = "Nhân viên"},
                                                new SelectListItem { Value = ""+(int?)JobHunt.BU.Common.Enum.Role.Admin, Text = "Quản trị viên"},
                                            }, new { @class = "chosen form-control" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-xl-6 col-md-12">
                                    <table>
                                        <tr>
                                            <td class="tb_label bold">Giới tính<span class="red">(*):</span></td>
                                            <td class="input-field">
                                                @Html.DropDownListFor(m=>m.WIGender,
                                            new List<SelectListItem>
                                            {
                                                new SelectListItem { Value = ""+(int?)JobHunt.BU.Common.Enum.Gender.Boy, Text = "Nam"},
                                                new SelectListItem { Value = ""+(int?)JobHunt.BU.Common.Enum.Gender.Girl, Text = "Nữ"},
                                            }, new { @class = "chosen form-control" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="tb_label bold">Ngày sinh<span class="red">(*):</span></td>
                                            @if (Model.WIBirthDay != null)
                                            {
                                                <td class="input-field date">
                                                    @Html.EditorFor(m => m.WIBirthDay, new { htmlAttributes = new { @class = "input-base passwordtext textinput", @type = "date", @Value = Model.WIBirthDay.Value.ToString("yyyy-MM-dd") } })
                                                </td>
                                            }
                                            else 
                                            {
                                                <td class="input-field date">
                                                    <input class="input-base passwordtext textinput" id="WIBirthDay" name="WIBirthDay" type="date"/>
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="tb_label bold">Trạng thái<span class="red">(*):</span></td>
                                            <td class="input-field date">
                                                @Html.DropDownListFor(m=>m.WIStatus,
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Value = ""+(int?)JobHunt.BU.Common.Enum.StatusCandidate.Active, Text = "Hoạt động"},
                                        new SelectListItem { Value = ""+(int?)JobHunt.BU.Common.Enum.StatusCandidate.Block, Text = "Tạm ngừng"},

                                    }, new { @class = "chosen form-control" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb_label bold">Chức vụ<span class="red">(*):</span></td>
                                            <td class="input-field">
                                                @Html.DropDownListFor(m=>m.WIPosition,
                                            new List<SelectListItem>
                                            {
                                                new SelectListItem { Value = ""+(int?)JobHunt.BU.Common.Enum.WIPosition.ManageNewAndJob, Text = "Quản lý tin (tin tức, tin đăng)"},
                                                new SelectListItem { Value = ""+(int?)JobHunt.BU.Common.Enum.WIPosition.ManageUser, Text = "Quản lý người dùng (NTV, NTD)"},
                                                new SelectListItem {Value = ""+(int?)JobHunt.BU.Common.Enum.WIPosition.ManageWebsite, Text = "Quản lý website (quảng cáo, thống kê, website)" },
                                                new SelectListItem {Value = ""+(int?)JobHunt.BU.Common.Enum.WIPosition.Admin, Text = "Quản trị" }
                                            }, new { @class = "chosen form-control" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-btn text-center">
                            <button class="btn btn-primary margin-right-30 updateaccount" type="submit" id="account-2">Lưu</button>
                            <button class="btn danger bt-danger btn--cancel-edit-cm" type="reset">Hủy</button>
                        </div>
                    </form>


                    <form id="admin-updatepass-form" class="admin-password-form">
                        <div class="cus-detail__content">
                            <div class="cus-detail__content--title">
                                <h3>Đổi mật khẩu</h3>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-md-12">
                                    <table>
                                        <tr>
                                            <td class="tb_label bold">Mật khẩu cũ<span class="red">(*):</span></td>
                                            <td class="input-field ">
                                                @Html.Editor("WIOldPassword", new { htmlAttributes = new { @class = "input-base textinput inputpass", placeholder = "******", @type = "password" } })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb_label bold">Mật khẩu mới<span class="red">(*):</span></td>
                                            <td class="input-field ">
                                                @Html.Editor("WIPassword", new { htmlAttributes = new { @class = "input-base textinput inputpass", placeholder = "******", @type = "password" } })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb_label bold">Xác nhận mật khẩu<span class="red">(*):</span></td>
                                            <td class="input-field ">
                                                @Html.Editor("WIConfirmPassword", new { htmlAttributes = new { @class = "input-base textinput inputpass", placeholder = "******", @type = "password" } })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-btn text-center">
                            <button class="btn btn-primary margin-right-30 updateaccount" type="submit" id="account-1">Đổi mật khẩu</button>
                            <button class="btn danger bt-danger btn--cancel-edit-cm" type="reset">Hủy</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        @*list history*@
    </section>
</div>