﻿
@{
    ViewBag.Title = "Login quản trị || VNUA";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/Assets/admin/images/img-01.png" alt="IMG">
            </div>

            @*<form class="login100-form validate-form">*@
            @using (Html.BeginForm("Login", "AccountManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form", role = "form", id = "__AjaxAntiForgeryForm" }))
            {
                @Html.AntiForgeryToken()
                <span class="login100-form-title">
                    Login quản trị
                </span>

                <div class="wrap-input100 validate-input" data-validate="Không được để trống">
                    <input class="input100" type="text" name="EmailLogin" placeholder="Email" id="EmailLogin">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Không được để trống">
                    <input class="input100" type="password" name="PassLogin" placeholder="Password" id="PassLogin">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Đăng nhập
                    </button>
                </div>

                @*<div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="#">
                        Username / Password?
                    </a>
                </div>*@
            }

            @*</form>*@
        </div>
    </div>
</div>

