﻿<footer>
    @*<div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 column">
                    <div class="widget">
                        <div class="about_widget">
                            <div class="logo">
                                <a href="/" title=""><img src="~/Assets/client/images/resource/logo.png" alt="" /></a>
                            </div>
                            <span>Collin Street West, Victor 8007, Australia.</span>
                            <span>+1 246-345-0695</span>
                            <span>info@jobhunt.com</span>
                            <div class="social">
                                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                                <a href="#" title=""><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 column">
                    <div class="widget">
                        <h3 class="footer-title">Frequently Asked Questions</h3>
                        <div class="link_widgets">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="#" title="">Privacy & Seurty </a>
                                    <a href="#" title="">Terms of Serice</a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="#" title="">Support </a>
                                    <a href="#" title="">How It Works </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 column">
                    <div class="widget">
                        <h3 class="footer-title">Find Jobs</h3>
                        <div class="link_widgets">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="#" title="">US Jobs</a>
                                    <a href="#" title="">Canada Jobs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 column">
                    <div class="widget">
                        <div class="download_widget">
                            <a href="#" title=""><img src="~/Assets/client/images/resource/dw1.png" alt="" /></a>
                            <a href="#" title=""><img src="~/Assets/client/images/resource/dw2.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="bottom-line">
        <span>©2020 Học Viện Nông Nghiệp Việt Nam. Design by Ngọc Hiếu</span>
        <a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
    </div>
</footer>
