﻿@model PagedList.IPagedList<JobHunt.BU.DTO.CandidateDTO>
@using PagedList.Mvc;
@using JobHunt.BU.DTO
@{
    ViewBag.Title = "Danh sách ứng viên";

    var Recruit = (RecruitDTO)ViewBag.Recruit;
}
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(@Recruit.RICoverImage) 100% 100% no-repeat scroll transparent;" class="parallax scrolly-invisible no-parallax" id="bg-recruit"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Xin chào @Recruit.RICompanyName</h3>
                    </div>
                    <div class="edit-coverimage" id="bg-upcover">
                        <a title="Ảnh bìa công ty">
                            <div class="edit-avatar__btn up-coverimage">
                                <img src="~/Assets/client/images/camera.png" class="display-inline-block" />
                                <p class="display-inline-block text-update-cover-img">Cập nhật</p>
                            </div>
                            <input type="file" name="" value="" class="btnupcover" id="updatecover" />

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">
                @Html.Partial("_LayoutMenuLeft")
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="emply-resume-sec">
                            @*<h3>Resume</h3>*@
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var cdd in Model)
                                {
                                    <div class="emply-resume-list active">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="emply-resume-thumb">
                                                    <img src="@cdd.CPAvatar" alt="">
                                                </div>
                                                <div class="emply-resume-info">
                                                    <h3>
                                                        <a href="@Url.Action("DetailCandidate", "Candidate", new { id = JobHunt.BU.Common.GenerateUrl.GenerateSlug(cdd.CddFullName, cdd.CandidateId) })" title="">@cdd.CddFullName</a>
                                                        @if (cdd.CPRAccept == true)
                                                        {
                                                            <span style="color: #228B22; border: 1px solid #228B22; padding: 4px;">Chấp nhận</span>
                                                        }
                                                        else
                                                        {
                                                            <span style="color: #FF0000; border: 1px solid #FF0000; padding: 4px;">Từ chối</span>
                                                        }
                                                    </h3>
                                                    <span><i>Ứng tuyển vào công việc - </i>@cdd.CPR_RecruitJob</span>
                                                    <p><i class="la la-map-marker"></i>@cdd.CddAddress</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="action-resume">
                                                    <div class="action-center">
                                                        <a href="javaScript:AcceptJob(@cdd.CandidateId)">Chấp nhận</a>
                                                    </div>
                                                    <div class="action-center">
                                                        <a href="javaScript:RejectJob(@cdd.CandidateId)">Từ chối</a>
                                                    </div>
                                                    <div class="action-center">
                                                        <span>Chọn <i class="la la-angle-down"></i></span>
                                                        <ul style="display: none;">
                                                            <li class="open-letter"><a href="@Url.Action("DownloadCoverLetter", "Candidate", new { id = cdd.CandidateId })" title="">Tải CV đính kèm</a></li>
                                                            <li><a href="@Url.Action("PrintPartialViewToPdf", "Candidate", new { id = JobHunt.BU.Common.GenerateUrl.GenerateSlug(cdd.CddFullName, cdd.CandidateId) })" title="">In CV</a></li>
                                                            <li><a href="@Url.Action("DetailCandidate", "Candidate", new { id = JobHunt.BU.Common.GenerateUrl.GenerateSlug(cdd.CddFullName, cdd.CandidateId) })" title="" target="_blank">Xem trang cá nhân</a></li>
                                                            @*<li class="open-contact"><a href="#" title="">Send a Message</a></li>*@
                                                            @*<li><a href="#" title="">View Profile</a></li>*@
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- Emply List -->
                                }
                            }
                            <div class="pagination">
                                @Html.PagedListPager(Model, page => Url.Action("ListCandidatesApplied", new { page }))
                            </div><!-- Pagination -->
                            @*<div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="/Assets/client/images/resource/er2.jpg" alt="">
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="action-resume">
                                        <div class="action-center">
                                            <span>Action <i class="la la-angle-down"></i></span>
                                            <ul>
                                                <li class="open-letter"><a href="#" title="">Cover Letter</a></li>
                                                <li><a href="#" title="">Download CV</a></li>
                                                <li><a href="#" title="">Linked-in Profile</a></li>
                                                <li class="open-contact"><a href="#" title="">Send a Message</a></li>
                                                <li><a href="#" title="">View Profile</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="del-resume">
                                        <a href="#" title=""><i class="la la-trash-o"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="/Assets/client/images/resource/er3.jpg" alt="">
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="action-resume">
                                        <div class="action-center">
                                            <span>Action <i class="la la-angle-down"></i></span>
                                            <ul>
                                                <li class="open-letter"><a href="#" title="">Cover Letter</a></li>
                                                <li><a href="#" title="">Download CV</a></li>
                                                <li><a href="#" title="">Linked-in Profile</a></li>
                                                <li class="open-contact"><a href="#" title="">Send a Message</a></li>
                                                <li><a href="#" title="">View Profile</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="del-resume">
                                        <a href="#" title=""><i class="la la-trash-o"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="/Assets/client/images/resource/er4.jpg" alt="">
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="action-resume">
                                        <div class="action-center">
                                            <span>Action <i class="la la-angle-down"></i></span>
                                            <ul>
                                                <li class="open-letter"><a href="#" title="">Cover Letter</a></li>
                                                <li><a href="#" title="">Download CV</a></li>
                                                <li><a href="#" title="">Linked-in Profile</a></li>
                                                <li class="open-contact"><a href="#" title="">Send a Message</a></li>
                                                <li><a href="#" title="">View Profile</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="del-resume">
                                        <a href="#" title=""><i class="la la-trash-o"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="/Assets/client/images/resource/er5.jpg" alt="">
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="action-resume">
                                        <div class="action-center">
                                            <span>Action <i class="la la-angle-down"></i></span>
                                            <ul>
                                                <li class="open-letter"><a href="#" title="">Cover Letter</a></li>
                                                <li><a href="#" title="">Download CV</a></li>
                                                <li><a href="#" title="">Linked-in Profile</a></li>
                                                <li class="open-contact"><a href="#" title="">Send a Message</a></li>
                                                <li><a href="#" title="">View Profile</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="del-resume">
                                        <a href="#" title=""><i class="la la-trash-o"></i></a>
                                    </div>
                                </div><!-- Emply List -->
                                <div class="emply-resume-list">
                                    <div class="emply-resume-thumb">
                                        <img src="/Assets/client/images/resource/er6.jpg" alt="">
                                    </div>
                                    <div class="emply-resume-info">
                                        <h3><a href="#" title="">Ali TUFAN</a></h3>
                                        <span><i>UX / UI Designer</i> at Atract Solutions</span>
                                        <p><i class="la la-map-marker"></i>Istanbul / Turkey</p>
                                    </div>
                                    <div class="action-resume">
                                        <div class="action-center">
                                            <span>Action <i class="la la-angle-down"></i></span>
                                            <ul>
                                                <li class="open-letter"><a href="#" title="">Cover Letter</a></li>
                                                <li><a href="#" title="">Download CV</a></li>
                                                <li><a href="#" title="">Linked-in Profile</a></li>
                                                <li class="open-contact"><a href="#" title="">Send a Message</a></li>
                                                <li><a href="#" title="">View Profile</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="del-resume">
                                        <a href="#" title=""><i class="la la-trash-o"></i></a>
                                    </div>
                                </div><!-- Emply List -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function AcceptJob(_id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("AcceptJob", "Candidate")",
            data: { id: _id },
            success: function (a) {
                $.notify(a.message, a.status), "success" == a.status && window.setTimeout(function() {
                    location.reload();
                }, 500);
            },
            error: function (a) {
                return $.notify("Không thành công! Thử lại sau", "error"), !1;
            }
        });
    }

    function RejectJob(_id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("RejectJob", "Candidate")",
            data: { id: _id },
            success: function (a) {
                $.notify(a.message, a.status), "success" == a.status && window.setTimeout(function() {
                    location.reload();
                }, 500);
            },
            error: function (a) {
                return $.notify("Không thành công! Thử lại sau", "error"), !1;
            }
        });
    }
</script>