﻿@model PagedList.IPagedList<JobHunt.BU.DTO.RecruitDTO>
@using PagedList.Mvc;
@using JobHunt.BU.DTO
@{
    ViewBag.Title = "Danh sách công ty";
}
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(/Assets/client/images/resource/mslider1.jpg) 50% -66.4px repeat scroll transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>CÔNG TY</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block less-top">
        <div class="container">
            <div class="row">
                <aside class="col-lg-3 column margin_widget">
                    <div class="widget">
                        <div class="search_widget_job">
                            <div class="field_w_search">
                                <input type="text" placeholder="Search Keywords">
                                <i class="la la-search"></i>
                            </div><!-- Search Widget -->
                            <div class="field_w_search">
                                <input type="text" placeholder="All Locations">
                                <i class="la la-map-marker"></i>
                            </div><!-- Search Widget -->
                        </div>
                    </div>
                    @*<div class="widget border">
                        <h3 class="sb-title open">Specialism</h3>
                        <div class="specialism_widget" style="">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="spealism" id="as"><label for="as">Accountancy (2)</label></p>
                                <p><input type="checkbox" name="spealism" id="asd"><label for="asd">Banking (2)</label></p>
                                <p><input type="checkbox" name="spealism" id="errwe"><label for="errwe">Charity &amp; Voluntary (3)</label></p>
                                <p><input type="checkbox" name="spealism" id="fdg"><label for="fdg">Digital &amp; Creative (4)</label></p>
                                <p><input type="checkbox" name="spealism" id="sc"><label for="sc">Estate Agency (3)</label></p>
                                <p><input type="checkbox" name="spealism" id="aw"><label for="aw">Graduate (2)</label></p>
                                <p><input type="checkbox" name="spealism" id="ui"><label for="ui">IT Contractor (7)</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="widget border">
                        <h3 class="sb-title open">Team Size</h3>
                        <div class="specialism_widget" style="">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="spealism" id="t1"><label for="t1">1 - 10</label></p>
                                <p><input type="checkbox" name="spealism" id="t2"><label for="t2">100 - 200</label></p>
                                <p><input type="checkbox" name="spealism" id="t3"><label for="t3">201 - 301</label></p>
                                <p><input type="checkbox" name="spealism" id="t4"><label for="t4">301 - 401</label></p>
                                <p><input type="checkbox" name="spealism" id="t5"><label for="t5">401 - 501</label></p>
                                <p><input type="checkbox" name="spealism" id="t6"><label for="t6">501 - 601</label></p>
                                <p><input type="checkbox" name="spealism" id="t7"><label for="t7">601 - 701</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="widget border">
                        <h3 class="sb-title open">Since</h3>
                        <div class="range_slider" style="">
                            <div class="nstSlider" data-range_min="1990" data-range_max="2018" data-cur_min="1991" data-cur_max="2007">
                                <div class="bar" style="left: 7px; width: 137px;"></div>
                                <div class="leftGrip" tabindex="0" style="left: 7px;"></div>
                                <div class="rightGrip" tabindex="0" style="left: 126px;"></div>
                            </div>
                            <div class="leftLabel">1991</div>
                            <div class="rightLabel">2007</div>
                        </div>
                    </div>*@
                </aside>
                <div class="col-lg-9 column">
                    <div class="filterbar">
                        <p>Total of 145 Employer</p>
                        @*<div class="sortby-sec">
                                <span>Sort by</span>
                                <select data-placeholder="20 Per Page" class="chosen" style="display: none;">
                                    <option>30 Per Page</option>
                                    <option>40 Per Page</option>
                                    <option>50 Per Page</option>
                                    <option>60 Per Page</option>
                                </select>

                            </div>*@
                    </div>
                    <div class="alpha-pag">
                        <a href="#" title="" class="active">ALL</a><a title="">A</a><a title="">B</a><a href="#" title="">C</a><a href="#" title="">D</a><a href="#" title="">E</a><a href="#" title="">F</a><a href="#" title="">G</a><a href="#" title="">H</a><a href="#" title="">I</a><a href="#" title="">J</a><a href="#" title="">K</a><a href="#" title="">L</a><a href="#" title="">M</a><a href="#" title="">N</a><a href="#" title="">O</a><a href="#" title="">P</a><a href="#" title="">Q</a><a href="#" title="">R</a><a href="#" title="">S</a><a href="#" title="">T</a><a href="#" title="">U</a><a href="#" title="">V</a><a href="#" title="">W</a><a href="#" title="">X</a><a href="#" title="">Y</a><a href="#" title="">Z</a>
                    </div>
                    <div class="emply-list-sec style2">
                        @if (Model.Count > 0)
                        {
                            foreach (var rc in Model)
                            {
                                <div class="emply-list">
                                    <div class="emply-list-thumb">
                                        <a href="@Url.Action("DetailRecruit", "Recruit", new { id = JobHunt.BU.Common.GenerateUrl.GenerateSlug(rc.RICompanyName, rc.RecruitId) })" title="@rc.RICompanyName"><img src="@rc.RILogo" alt="" class="logo-company"></a>
                                    </div>
                                    <div class="emply-list-info">
                                        <div class="emply-pstn">4 công việc</div>
                                        <h3><a href="@Url.Action("DetailRecruit", "Recruit", new { id = JobHunt.BU.Common.GenerateUrl.GenerateSlug(rc.RICompanyName, rc.RecruitId) })" title="">@rc.RICompanyName</a></h3>
                                        @*<span>@rc.CityDTO.CName</span>*@
                                        @if (@rc.CityDTO != null)
                                        {
                                            <h6><i class="la la-map-marker"></i> @rc.CityDTO.CName</h6>
                                        }
                                        else
                                        {
                                            <h6><i class="la la-map-marker"></i></h6>
                                        }
                                        <p class="titlejob" title="@rc.RIAbout">@rc.RIAbout</p>
                                    </div>
                                </div><!-- Employe List -->
                            }
                        }

                        <div class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("ListRecruits", new { page, keyWord = ViewBag.keyWord, chooseDate = ViewBag.chooseDate, chooseWorkType = ViewBag.chooseWorkType }))
                            @*<ul>
                <li class="prev"><a href=""><i class="la la-long-arrow-left"></i> Prev</a></li>
                <li><a href="">1</a></li>
                <li class="active"><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><span class="delimeter">...</span></li>
                <li><a href="">14</a></li>
                <li class="next"><a href="">Next <i class="la la-long-arrow-right"></i></a></li>
            </ul>*@
                        </div><!-- Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

