﻿@model PagedList.IPagedList<JobHunt.BU.DTO.CandidateDTO>
@using PagedList.Mvc;
@using JobHunt.BU.DTO
@{
    ViewBag.Title = "Những ứng viên đã lưu";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}
@Html.Hidden("pageCheck", "saveCandidate")
<div class="col-lg-9 column">
    <div class="padding-left">
        <div class="manage-jobs-sec">
            <div class="border-title"><h3>Ứng viên đã lưu</h3></div>
            @if (Model.Count > 0)
            {
                foreach (var cdd in Model)
                {
                    <div class="job-listing wtabs" id="saveCandidate@(cdd.CandidateId)">
                        <div class="job-title-sec">
                            <div class="c-logo"> <img src="@cdd.CPAvatar" alt="" class="logo-company"> </div>
                            <h3 class=""><a href="@Url.Action("DetailCandidate", "Candidate", new { id = JobHunt.BU.Common.GenerateUrl.GenerateSlug(cdd.CddFullName, cdd.CandidateId) })" title="@cdd.CddFullName" class="titlejob">@cdd.CddFullName</a></h3>
                            <p><i class="la la-map-marker"></i>@cdd.CddAddress</p>
                           
                        </div>
                        <div class="job-list-del">
                            <a title="" class="fav-candidate active" id="cdd@(cdd.CandidateId)"><i class="la la-trash-o"></i></a>
                        </div>
                    </div><!-- Job -->
                }
            }

            <div class="pagination padding-paging">
                @Html.PagedListPager(Model, page => Url.Action("SaveJobs", new { page }))<!-- Pagination -->
            </div>
        </div>
    </div>
</div>

