﻿@using PagedList.Mvc;
@{
    ViewBag.Title = "Giới thiệu";
}

<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(/Assets/client/images/resource/mslider1.jpg) 50% -87px repeat scroll transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Giới thiệu</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 column">
                    <div class="bloglist-sec">
                        <p><strong>* Giới thiệu:&nbsp;</strong>Trung tâm Quan hệ công chúng và Hỗ trợ sinh viên là cầu nối giữa sinh viên và doanh nghiệp, các nhà tuyển dụng trong nhiều lĩnh vực.</p>
                        <p><strong>* Chức năng và nhiệm vụ của Trung tâm :</strong></p>
                        <p>- Tư vấn việc làm và định hướng nghề nghiệp cho học sinh, sinh viên.</p>
                        <p>- Kết nối với các doanh nghiệp, các nhà tuyển dụng mang lại cho sinh viên nhiều cơ hội việc làm phù hợp với chuyên ngành cho sinh viên, cung cấp và tuyển các đầu việc làm thêm cho sinh viên trong và ngoài Học viện</p>
                        <p>- Tổ chức các buổi tham quan doanh nghiệp, chuyến đi thực tế trải ngiệm,...cho sinh viên. Tạo cầu nối cho sinh viên và doanh nghiệp.</p>
                        <p>- Đơn vị tổ chức Chương trình Ngày hội việc làm thường niên của Học viện</p>
                        <p>- Tổ chức Chương trình Khởi nghiệp Nông nghiệp cho sinh viên trong và ngoài Học viện hàng năm</p>
                        <p>- Tài trợ, Bảo trợ, Tổ chức một số sự kiện lớn trong và ngoài Học viện Nông nghiệp Việt Nam.</p>
                        <p>- Tư vấn giải đáp các thắc mắc của sinh viên về học tập, thủ tục hành chính,…</p>
                        <p>* Địa chỉ : Trung tâm Quan hệ công chúng và Hỗ trợ sinh viên (cạnh bãi gửi xe sau giảng đường B) Học viện Nông Nghiệp Việt Nam , Trâu Quỳ, Gia Lâm , Hà Nội.</p>
                        <p>Điện thoại : 024.6261.7690 hoặc 0986.755.984/0968665311</p>
                        <p>Email :tuvanvieclam@vnua.edu.vn</p>
                        <p>Địa chỉ Facebook : Trung tâm Quan hệ công chúng và Hỗ trợ sinh viên Học viện Nông nghiệp Việt Nam</p>
                        <p>Truy cập theo đường link: <a href="https://www.facebook.com/TVVLHVNNVN/">https://www.facebook.com/TVVLHVNNVN/</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

