﻿@model JobHunt.BU.DTO.NewDTO
@{
    ViewBag.Title = "" + Model.NTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(/Assets/client/images/resource/mslider1.jpg) 50% -62.5px repeat scroll transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 column">
                    <div class="blog-single">
                        <div class="bs-thumb"><img src="@Model.NAvatar" alt=""></div>
                        <ul class="post-metas">
                            <li><a href="#" title="">Người đăng: <img src="images/resource/admin.jpg" alt="">Nhân viên</a></li>
                            <li>
                                <a href="#" title="">Ngày: <i class="la la-calendar-o"></i>@Model.NPublicDate.Value.ToString("dd/MM/yyyy")</a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    Thể loại: 
                                    <i class="la la-file-text">
                                    </i>@Model.CategoryDTO.CName
                                </a>
                            </li>
                        </ul>
                        <h2>@Model.NQuote</h2>
                        @Html.Raw(Model.NDetail)
                        @*<div class="tags-share">
                                <div class="tags_widget">
                                    <span>Tags</span>
                                    <a href="#" title="">Adwords</a>
                                    <a href="#" title="">Sales</a>
                                    <a href="#" title="">Travel</a>
                                </div>
                                <div class="share-bar">
                                    <a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#" title="" class="share-twitter"><i class="fa fa-google"></i></a><a href="#" title="" class="share-google"><i class="la la-google"></i></a><span>Share</span>
                                </div>
                            </div>
                            <div class="post-navigation ">
                                <div class="post-hist prev">
                                    <a href="#" title=""><i class="la la-arrow-left"></i><span class="post-histext">Prev Post<i>Hey Job Seeker, It’s Time</i></span></a>
                                </div>
                                <div class="post-hist next">
                                    <a href="#" title=""><span class="post-histext">Next Post<i>11 Tips to Help You Get New</i></span><i class="la la-arrow-right"></i></a>
                                </div>
                            </div>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@*
    <aside class="col-lg-3 column">
                        <div class="widget">
                            <div class="search_widget_job no-margin">
                                <div class="field_w_search">
                                    <input placeholder="Search Keywords" type="text">
                                    <i class="la la-search"></i>
                                </div><!-- Search Widget -->
                            </div>
                        </div>
                        <div class="widget">
                            <h3>Categories</h3>
                            <div class="sidebar-links">
                                <a href="#" title=""><i class="la la-angle-right"></i>Education</a>
                                <a href="#" title=""><i class="la la-angle-right"></i>Information</a>
                                <a href="#" title=""><i class="la la-angle-right"></i>Jobs</a>
                                <a href="#" title=""><i class="la la-angle-right"></i>Learn</a>
                                <a href="#" title=""><i class="la la-angle-right"></i>Skill</a>
                            </div>
                        </div>
                        <div class="widget">
                            <h3>Recent Posts</h3>
                            <div class="post_widget">
                                <div class="mini-blog">
                                    <span><a href="#" title=""><img src="images/resource/mb1.jpg" alt=""></a></span>
                                    <div class="mb-info">
                                        <h3><a href="#" title="">Canada adds 12,500 jobs in modest July rebound</a></h3>
                                        <span>October 25, 2017</span>
                                    </div>
                                </div>
                                <div class="mini-blog">
                                    <span><a href="#" title=""><img src="images/resource/mb2.jpg" alt=""></a></span>
                                    <div class="mb-info">
                                        <h3><a href="#" title="">How to “Woo” a Recruiter and Land Your Dream Job</a></h3>
                                        <span>October 25, 2017</span>
                                    </div>
                                </div>
                                <div class="mini-blog">
                                    <span><a href="#" title=""><img src="images/resource/mb3.jpg" alt=""></a></span>
                                    <div class="mb-info">
                                        <h3><a href="#" title="">Hey Job Seeker, It’s Time To Get Up And Get Hired</a></h3>
                                        <span>October 25, 2017</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h3>Archives</h3>
                            <div class="sidebar-links">
                                <a href="#" title=""><i class="la la-angle-right"></i>April 2017</a>
                                <a href="#" title=""><i class="la la-angle-right"></i>March 2016</a>
                                <a href="#" title=""><i class="la la-angle-right"></i>February 2015</a>
                                <a href="#" title=""><i class="la la-angle-right"></i>July 2013</a>
                            </div>
                        </div>
                        <div class="widget">
                            <h3>Meta</h3>
                            <div class="sidebar-links">
                                <a href="#" title=""><i class="la la-angle-right"></i>Log in</a>
                                <a href="#" title=""><i class="la la-angle-right"></i>Entries RSS</a>
                                <a href="#" title=""><i class="la la-angle-right"></i>Comments RSS</a>
                                <a href="#" title=""><i class="la la-angle-right"></i>WordPress.org</a>
                            </div>
                        </div>
                        <div class="widget">
                            <h3>Our Photo</h3>
                            <div class="photo-widget">
                                <div class="row">
                                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-6"> <a href="#" title=""><img src="images/resource/op1.jpg" alt=""></a> </div>
                                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-6"> <a href="#" title=""><img src="images/resource/op2.jpg" alt=""></a> </div>
                                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-6"> <a href="#" title=""><img src="images/resource/op3.jpg" alt=""></a> </div>
                                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-6"> <a href="#" title=""><img src="images/resource/op4.jpg" alt=""></a> </div>
                                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-6"> <a href="#" title=""><img src="images/resource/op5.jpg" alt=""></a> </div>
                                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-6"> <a href="#" title=""><img src="images/resource/op6.jpg" alt=""></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h3>Tags</h3>
                            <div class="tags_widget">
                                <a href="#" title="">Adwords</a>
                                <a href="#" title="">Sales</a>
                                <a href="#" title="">Travel</a>
                                <a href="#" title="">Our Blog</a>
                                <a href="#" title="">Trade</a>
                                <a href="#" title="">Traffic</a>
                            </div>
                        </div>
                    </aside>
*@